{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 section-title">
                    <h2 style="color: #FFC312;">
                        {{ event.get_level_display |capfirst }}, no endereço {{ event.agent.address }}, em {{ event.date }}
                    </h2>
                </div>
        </div>  
        <div class="row">
            <div class="col-md-8 col-sm" style="color: #e8e4e3">
                <h4>Título</h4>
                <p>{{ event.title }}</p>
                <h4>Descrição</h4>
                <p>{{ event.data }}</p>
            </div>
            </br>
            <div class="col-md-4 col-sm" style="color: #e8e4e3">
                <h5>Nível</h5>
                {{ event.get_level_display }}
                </br>
                </br>
                <h5>Eventos</h5>
                <p>{{event.frequencia}}</p>
                </br>
                <h5>Coletado por</h5>
                {{ event.agent.user }} 
            </div>
        </div>

        <a style="margin: 2px;" href="{% url 'events:events-list' %}" class="btn login_btn">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
{% endblock %}