{% extends "base.html" %}

{% block content %}
    <div class="row">
{#    selecao dos ambientes "env"#}
        <div class="col-md-1">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Enviroments
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for e in env %}
                      <a href="{% url 'events:post_detail' e %}" class="dropdown-item">{{ e }}</a>
                  {% endfor %}
              </div>
            </div>
{#            <h2>Filtro aqui</h2>#}
        </div>
{#    buscar por #}
     <div class="col-md-1">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordenar por
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for e in env %}
                      <a href="{% url 'events:post_detail' e %}" class="dropdown-item">{{ e }}</a>
                  {% endfor %}
              </div>
            </div>
{#            <h2>Filtro aqui</h2>#}
     </div>
    </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Arquivado</th>
                    <th>Level</th>
                    <th>Log</th>
                    <th>Eventos</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.event.archived }}</td>
                        <td>
                            <p class="text-lowercase">{{ event.event.level }}</p>
                        </td>
                        <td>
                             <p class="text-center font-weight-bold"> Título:{{ event.event.title }}</p>
                             <p class="text-center">data: {{ event.event.data }}</p>
                            <p class="text-center"> endereço de origem: {{ event.event.agent.address }}</p>
                        </td>
                            
                            
                        <td> {{ event.count }} </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'events:detail' event.event.pk %}" class="btn btn-primary">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=5 class="text-center">
                            Não Há eventos para serem listados
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}