{% extends "registration/baseLogin.html" %}

{% block content %}
<div class="d-flex justify-content-center h-100">
    <div class="card-signup">
        <div class="card-header" >
            <h3>Atualizado com sucesso!</h3>
            <p style="color: white !important; margin-top: 36px;" >
                Sua nova senha foi definida. Você já pode fazer o login
                <a style="color: #FFC312" href="{% url 'login' %}">Acesse aqui</a>.
            </p>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>

{% endblock %}