{% load static %}
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SQUAD 1 - Central de Erros - {% block title %}2019{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    {% block custom_css %}{% endblock %}
    {% if user.is_authenticated %}
        <body class="container-fluid page-events">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="pull-left">
                    <a class="navbar-brand" href="#">Bem vindo {{user.first_name}}!</a>
                </div>
            
                <div class="login-style" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="content" class="container-fluid" style="margin-top: 1%;">
                {% block content %}
                {% endblock %}
            </div>
            
            {% block custom_js %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
    {% else %}
        <body class="container-fluid page-login">
            <div class="d-flex justify-content-center h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                            <h3>Faça login para iniciar :)</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-inline my-2 my-lg-0">
                                <a class="btn login_btn" href="{% url 'login' %}" role="button">Login</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
        </body>
    {% endif %}
</html>
